.quarter {
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100px;
    height: 35px;
}

.selected {
    background-color: red;
    border: 1px solid lightgrey;
    border-radius: 5px;
    width: 100px;
    height: 35px;
}